[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpie-ovh-auth = {editable = true, path = "."}

[dev-packages]
ipdb = {}
tox = {}
mock = ">=2.0.0"
pexpect = ">=4.2.1"
pytest = ">=3.0.6"
pytest-cov = ">=2.4.0"
mypy = {}

[requires]
python_version = "3.9"
